<div class="card">
    <div class="p-3 bg-light">
        <div class="col-12">
            <p class="h3">By {{user.name}}</p>
        </div>
        <hr class="my-4">
        <div class="col-12">
            <p>{{text}}</p>
        </div>
    </div>
</div>