<div class="card">
    <div class="p-3 bg-light">
        <div class="col-12">
            <p>Created by {{user.name}}</p>
        </div>
        <div class="col-12">
            <p>
                {{text}}
            </p>
        </div>
    </div>
</div>